<html>

<body>

  <nav class="topnav">
      <a class="topnavitem" >Logado<br>Usuario X</a>
    <img alt="Logo RU" src="assets/images/Logo.gif" class="navLogo">

    <a class="topnavitem"  name ="Cardapio" href="cardapio.component">Cardapio</a>
    <a class="topnavitem" href="#news">Solicitacao</a>
    <a class="topnavitem" href="#contact">Carteira</a>
    <a class="topnavitem" href="#about">Suporte</a>
    
  </nav>

  <div class="corpo">
    <tr>
        <td><label>cpf</label></td>
        <td><input [(ngModel)]="cpf"></td>
    </tr>
    <tr>
      <td><label>senha</label></td>
      <td><input [(ngModel)]="senha"></td>
    </tr>
    <tr>
      <td><button (click)="login()">Entrar</button></td>
    </tr>
        
  </div>
  
</body>




</html>