h1 {
    color: #369;
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
  }

body{
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}
  .corpo{
      height: 100vh;
      width: 100%;
      background-color: lightgrey;
      margin-top: 100px;
      justify-content: center;
      display: inline-flex;
      text-align: center;
  }

  .TelaCadastro{
      padding-top: 200px;
  }

  .TelaLogin{
    padding-top: 200px;
   
}

    .formulario{
       justify-content: center;
       display: flex;
    }

  input{
    background-color: transparent;
    border: none;
    border-bottom: #4CAF50 2px solid;
    width: 120%;
  }

  input[_ngcontent-c0]{
      margin-top: 20px;
      width: 120%;
  }

  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    width: 120%;
    margin-top: 20px;
}


  .navLogo{
    
    height: 80px;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    font-size: 1.4em;
    display: inline-grid;
    padding-top: 10px;
}


  .topnav {
    background-color: #6FCF97;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100px;
}

.topnavitem {
    width: 12%;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    font-size: 1.4em;
    display: inline-grid;
}





input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    
    text-decoration: none;
    width: 12%;
    
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #35A3D3;
    color: black;
    transition-duration: 0.5s;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}