<html (mousemove)="onMove()">

<body>

  <nav class="topnav">
    <a class="topnavitem">Logado
      <br>Usuario X</a>
    <img alt="Logo RU" src="assets/images/Logo.gif" class="navLogo">

    <a class="topnavitem" routerLink="/cardapio">Cardapio</a>
    <a class="topnavitem" routerLink="/solicitacao">Solicitacao</a>
    <a class="topnavitem" routerLink="/carteira">Carteira</a>
    <a class="topnavitem" routerLink="/suporte">Suporte</a>
    
  </nav>

  <div class="TelaLogin" *ngIf="!loged && !tela">
    <form action="login" class="formulario">
      <tr>
        <input [(ngModel)]="pessoa.cpf" placeholder="Digite seu CPF" name="LoginCPF">
      </tr>
      <tr>
        <input [(ngModel)]="pessoa.senha" placeholder="Digite sua Senha" name="LoginSenha" type="password">
      </tr>

      <button (click)="login()">Entrar</button>
      <BR>
      <button (click)="changeWindow()">Cadastrar</button>
    </form>
  </div>
  <div class="TelaCadastro" *ngIf="!loged&&tela">


    <form action="cadastrar" class="formulario">
       
      <tr>


        <input [(ngModel)]="pessoa.nome"  name="CadastroNome" placeholder="Digite o nome*">

      </tr>
      <tr>


        <input [(ngModel)]="pessoa.cpf" name="CadastroCPF" placeholder="Digite o CPF*">

      </tr>
      <tr>


        <input [(ngModel)]="pessoa.senha" name="CadastroSenha" placeholder="Digite a sua senha*" type="Password">

      </tr>
      <tr>


        <input [(ngModel)]="pessoa.telefone" name="CadastroTelefone" placeholder="Digite o seu telefone*">

      </tr>
      <tr>


        <input [(ngModel)]="pessoa.email" name="CadastroEmail" placeholder="Digite o seu E-Mail*">

      </tr>
      <tr>
          <select name="selecionar">
              <option value="" disabled selected>Selecione seu Tipo</option>
              <option value="usuario">Usuário</option>
              <option value="administrador">Administrador</option>
            </select>
      </tr>
      <tr>
        <br>
          *Campos Obrigatorios
      </tr>
      

      <button (click)="cadastrar(pessoa)">Cadastrar</button>

      <br>
      <button (click)="changeWindow()">Voltar</button>
    </form>
    <td *ngIf="usuariaJaCadastrado">Não foi possivel realizar o cadastro</td>
  </div>
  <router-outlet *ngIf="loged"></router-outlet>
</body>




</html>