<html>

<body>

  <nav class="topnav">
      <a class="topnavitem" >Logado<br>Usuario X</a>
    <img alt="Logo RU" src="assets/images/Logo.gif" class="navLogo">

    <a class="topnavitem"  name ="Cardapio" href="cardapio.component">Cardapio</a>
    <a class="topnavitem" href="#news">Solicitacao</a>
    <a class="topnavitem" href="#contact">Carteira</a>
    <a class="topnavitem" href="#about">Suporte</a>
    
  </nav>

  <div class="corpo">
    <form action="login" class="formulario">
    <tr>
        
        <input [(ngModel)]="cpf"  placeholder="Digite seu CPF">
    </tr>
    <br>
    <tr>
        
      <td><input [(ngModel)]="senha"  placeholder="Digite sua senha"></td>
    </tr>

    
    
   
      <button (click)="login()">Entrar</button>
      <BR>
        <button (click)="login()">Cadastrar</button>

        
  </form>
  </div>
  
</body>




</html>