h1 {
    color: #369;
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
  }

body{
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}

/* Começo do css da navbar*/
  .corpo{
      height: 100vh;
      width: 100%;
      background-color: lightgrey;
      margin-top: 100px;
      justify-content: center;
      display: inline-flex;
      text-align: center;
  }


  .navLogo{

    height: 60px;
    margin-left:2%;
    display: inline-grid;
}


  .topnav {
    background-color: #6FCF97;
    overflow: hidden;
    position: fixed;
    min-width: 100vw;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.topnavitem {
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 1.4em;
    display: inline-grid;
}


.topnav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    width: 12%;
    
}

.topnav a:hover {
    background-color: #35A3D3;
    color: black;
    transition-duration: 0.5s;
}


.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


  /*Final do css da nav bar */

  /*Começo do css das telas de login e cadastro */
  /*Caso aja duvidas :hover e quando o mouse passa em cima e :focus e quando ele é selecionado */
  /*Algums estiilos nao sao nem classe nem id e sim configuracoes do propio css,tipo o select*/
  .TelaCadastro{
      padding-top: 200px;
  }

  .TelaLogin{
    padding-top: 200px;
    
    }

    input[type=submit]:hover {
    background-color: #45a049;
    }

    .formulario{
       justify-content: center;
       display: flex;
    }

  input{
    background-color: transparent;
    border: none;
    border-bottom: #4CAF50 2px solid;
    width: 120%;
  }

  input[_ngcontent-c0]{
      margin-top: 20px;
      width: 120%;
  }

  select{
      width: 120%;
      border: none;
      -webkit-appearance: none;
      border-bottom: solid 2px #4CAF50;
      margin-top: 20px;
      background-color: transparent;
      
  }

  input:focus,select:focus {
    box-shadow: 0 0 0 0;
    border-bottom:solid 2px darkgreen;
    outline: 0;
}  

  select{
    width: 120%;
    border: none;
    -webkit-appearance: none;
    border-bottom: solid 2px #4CAF50;
    margin-top: 20px;
    background-color: transparent;
}

  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    width: 120%;
    margin-top: 20px;
}

/*Começo do css das telas de login e cadastro */


