<html class="cardapioOrigem" (mousemove)="onMoveCardapio()">
    <!--estilo do cardapio-->
    <style>
        .cardapioOrigem{
            width: 100%;
            height: 60vh;
            margin: 0;
            padding-top: 15vh
        }
        .cardapioTitulo{
            color: #6FCF97
        }
        .cardapioTabela{
            width: 100%;
            height: 70%;
        }
        .cardapioTabela tr{
            width: 100%;
            height: 25%;
        }
        .cardapioTErro{
            color: red;
        }
    </style>
    <h1 class="cardapioTitulo">Cardápio</h1>
    <!--dia-->
    <label>Dia</label>
    <select name="diaCardapio" id="cardapioDiaSelect" (click)="mudarDia()" [(ngModel)]="oldDia">
        <option value="seg">seg</option>
        <option value="ter">ter</option>
        <option value="qua">qua</option>
        <option value="qui">qui</option>
        <option value="sex">sex</option>
        <option value="sab">sab</option>
        <option value="dom">dom</option>
    </select>
    
    <!--formulario dos alimentos-->
    <form id="cardapioForm"><!--idealmente seria colocada um ngif pessoa.adm, mas como não foi feita essa parte de adm funcionando, não foi utilizado-->
        <input type="text" placeholder="nome do alimento" name="alimentoNome" [(ngModel)]="alimentoCaR.nome">
        <label>Tipo</label>
        <select name="alimentoTipo" [(ngModel)]="alimentoCaR.tipo">
                <option value="Desjejum">Desjejum</option>
                <option value="Almoço">Almoço</option>
                <option value="Jantar">Jantar</option>
            </select>
    </form>

    <button (click)="selectAlimento(alimentoCaR)">Selecionar</button>
    <button (click)="cadastrarAlimento(alimentoCaR)">Cadastrar</button>

    <!--mensagens de erro-->
    <h2 class="cardapioTErro" *ngIf="erroCadastroAlimento">Não foi possível realizar o cadastro</h2>
    <h2 class="cardapioTErro" *ngIf="erroSelectAlimento || erroAtualizarAlimento">Não foi possível selecionar o alimento</h2>
    <h2 class="cardapioTErro" *ngIf="cadastrobsAlimento">Alimento cadastrado com sucesso</h2>
    <!--Tabelas dos dias alimentos-->
    <table *ngIf="diaCard == 'seg'" class="cardapioTabela">
        <tr>
            <th>Segunda-feira</th>
        </tr>
        <tr>
            <td>Desjejum</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Desjejum'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>Almoço</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Almoço'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>Jantar</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Jantar'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
    </table>

    <table *ngIf="diaCard == 'ter'" class="cardapioTabela">
        <tr>
            <th>Terça-feira</th>
        </tr>
        <tr>
            <td>Desjejum</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Desjejum'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>Almoço</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Almoço'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>Jantar</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Jantar'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
    </table>

    <table *ngIf="diaCard == 'qua'" class="cardapioTabela">
        <tr>
            <th>Quarta-feira</th>
        </tr>
        <tr>
            <td>Desjejum</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Desjejum'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>Almoço</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Almoço'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>Jantar</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Jantar'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
    </table>
    
    <table *ngIf="diaCard == 'qui'" class="cardapioTabela">
        <tr>
            <th>Quinta-feira</th>
        </tr>
        <tr>
            <td>Desjejum</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Desjejum'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>Almoço</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Almoço'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>Jantar</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Jantar'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
    </table>

    <table *ngIf="diaCard == 'sex'" class="cardapioTabela">
        <tr>
            <th>Sexta-feira</th>
        </tr>
        <tr>
            <td>Desjejum</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Desjejum'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>Almoço</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Almoço'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>Jantar</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Jantar'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
    </table>

    <table *ngIf="diaCard == 'sab'" class="cardapioTabela">
        <tr>
            <th>Sábado</th>
        </tr>
        <tr>
            <td>Desjejum</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Desjejum'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>Almoço</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Almoço'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>Jantar</td>
            <td>
                <div *ngFor="let comida of alimentosShow">
                    <p *ngIf="comida.tipo == 'Jantar'">{{comida.nome}}</p>
                </div>
            </td>
        </tr>
    </table>

    <table *ngIf="diaCard == 'dom'" class="cardapioTabela">
            <tr>
                <th>Domingo</th>
            </tr>
            <tr>
                <td>Desjejum</td>
                <td>
                    <div *ngFor="let comida of alimentosShow">
                        <p *ngIf="comida.tipo == 'Desjejum'">{{comida.nome}}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Almoço</td>
                <td>
                    <div *ngFor="let comida of alimentosShow">
                        <p *ngIf="comida.tipo == 'Almoço'">{{comida.nome}}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Jantar</td>
                <td>
                    <div *ngFor="let comida of alimentosShow">
                        <p *ngIf="comida.tipo == 'Jantar'">{{comida.nome}}</p>
                    </div>
                </td>
            </tr>
        </table>

</html>