<html>
    <br><br><br><br><br><br>
    <div class="queueMonitoring">
      <h2>Monitoramento de Fila</h2>

      <div class="informationDiv">
        <h3>Tempo médio de espera <strong>agora</strong>:</h3>
        <span>
    <p id="waitingTime">{{tempoDeEspera}}</p>
  </span>
      </div>

      <div class="informationDiv">
        <h3>Pessoas na fila <strong>agora</strong>:</h3>
        <span>
    <p id="queuePeople">{{pessoasNaFila}}</p>
  </span>
      </div>

      <div class="informationDiv">
        <h3>Melhor horário para se estar <strong>no R.U.</strong>:</h3>
        <span>
    <p id="bestTime">{{melhorHora}}</p>
  </span>
      </div>

      <button class="buttonQueue" (click)="atualizar()" id="actualize">Atualizar</button>
      <button class="buttonQueue" *ngIf="!estaNaFila" (click)="atQueue()" id="atLine">Estou na fila!</button>
      <button class="buttonQueue" *ngIf="estaNaFila" (click)="enteredRestaurant()">Entrei no R.U.</button>
      <button class="buttonQueue" *ngIf=" estaNaFila" (click)="getOutOfQueue()">Saí da fila</button>

    </div>

</html>
